<ion-header>
    <ion-toolbar color="tertiary">
        <ion-button (click)="presentActionSheet()" fill="clear" slot="end">
            <ion-icon color="light" name="menu"></ion-icon>
        </ion-button>

        <ion-title class="ion-text-center">
            Chat App
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-list>
        <ion-list-header>
            Recent Conversations
        </ion-list-header>

        <ion-item *ngFor='let chat of chatRooms' (click)="openChat(chat)">
            <ion-avatar slot="start">
                <ion-img [src]="chat.img"></ion-img>
            </ion-avatar>
            <ion-label>
                <h2><b>{{chat.name}}</b></h2>
                <p>{{chat.descripcion}}</p>
            </ion-label>
        </ion-item>

    </ion-list>



</ion-content>